@use "../util" as *;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  font-family: var(--font-primary);
  p {
    font-size: toRem(15);
  }
}
