@use "../globals";
@use "../util" as *;

.card {
  background-color: var(--clr-white);
  position: relative;
  top: toRem(150);
  width: toRem(500);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: toRem(40);
  border-radius: toRem(15);

  &__qrcode {
    width: 95%;
    img {
      max-width: 100%;
      border-radius: toRem(15);
    }
  }

  &__title {
    max-width: 100%;
    color: var(--clr-darkblue);
    font-weight: 700;
  }

  &__description {
    max-width: 100%;
    color: var(--clr-grayishblue);
    font-weight: 400;
  }
}
